////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////


/* STYLEGUIDE 
=========================================*/

html {
  line-height: 1.3;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #252b31;
	font-size: .812em;

	@include breakpoint($resDesktop){
		font-size: 1em;
	}
	&.private #body-page{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: .812em;
		color: #737373;
	}
}
h1,h2,h3,h4,h5{
	margin-bottom: .4em;
	font-family: 'Varela Round', sans-serif;

	body.private &{
		font-family: inherit;
		font-weight: 400;
	}
}
a{
	color: $lightBlue;

	&:hover{
		color: $darkBlue;
		text-decoration: underline;
	}

	.private #body-page &{
		color: $red;
	}
	&.no-underline{
		text-decoration: none;
	}
}
p{
	line-height: 1.5;
	margin: 1em 0;
}
strong{
	color: #000;
}
small{
	font-size: 80%;
}




/* TEXTS -----------------------*/
.page-title{
	font-size: 3.125em;
	text-align: center;
}
.page-heading{
	font-size: 1.56em;
	padding-bottom: .6em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
	color: #000;

	&.with-links{
		@include clearfix();

		h1{
			float: left;
		}
	}
	&.breadcrumb{
		font-size: 1.15em;
		a{
			color: $red;
		}
	}
}
.private #body-page .heading-link{
	display: inline-block;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	margin-left: 10px;
	font-size: .7em;

	&:first-child{
		border-left: none;
		padding-left: 0;
		margin-left: 0;
	}

	&.active{
		color: #000;
		position: relative;
		text-decoration: none;
		font-size: 1em;

		&:after{
			content: '';
			display: block;
			border: .5em solid #ccc;
			border-color: #ccc transparent transparent transparent;

			position: absolute;
			bottom: 0;
			left: 50%;
			margin-bottom: -1.6em;
		}
	}
}
.private #body-page .heading-links{
	display: block;
	line-height: 2;
	font-size: .75em;

	a{
		margin-left: 1em;
		color: $red;

		&.active{
			color: #000;
		}
	}
	@include breakpoint($resIpad){
		float: right;
	}
}



.lead{
	font-size: 1.25em;
	text-align: center;

	@include breakpoint($resIpad){
		margin-left: 8em;
		margin-right: 8em;
	}
}
h2{
	font-size: 1.56em;
	
	.landing-section.cambia &{
		text-align: right;
	}
	.landing-section.aliados &{
		text-align: center;
	}
}

input{
	&:focus{
		outline: none;
	}
}
.col-heading{
	padding-bottom: .6em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
	color: #000;
	font-size: 1.46em;

	h1{
		margin: 0;
		float: left;
	}
	a{
		color: $red;
	}
	&.with-links{
		@include clearfix();
	}
}
.txt-hidden{
	text-indent: -999px;
	overflow: hidden;
}
.invisible{
	display: none;
}
.link-heading{
	color: $red;
	text-transform: uppercase;
}
.dato-valor{
	display: block;
	font-size: 1.15em;
	em{
		text-transform: uppercase;
		font-size: .73em;
	}
}



/* BUTTONS ---------------------*/
.private #body-page .icon-btn{
	display: inline-block;
	vertical-align: middle;
	margin: 0 .3em;
	color: #000;
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: $bikoBlue;
	}
}
.private #body-page .circle-btn{
	display: inline-block;
	vertical-align: bottom;

	.link{
		display: block;
		overflow: hidden;
		background: $bikoBlue;
		color: #fff;
		width: 3.2em;
		height: 3.2em;
		line-height: 3.8em;
		border-radius: 50%;
		text-align: center;
		text-decoration: none;

		&:hover{
			text-decoration: none;
			color: #fff;
			background-color: $lightBlue;
		}
	}

	[class^="icon-"], [class*=" icon-"]{
		font-size: 1.4em;
	}

	&.with-number{
		a{
			line-height: 1;
			padding-top: .5em;
		}
		
		[class^="icon-"], [class*=" icon-"]{
			font-size: 1.4em;
		}
	}
	.num{
		display: block;
		font-size: .76em;
	}

	&.with-photo{
		overflow: hidden;
		img{
			max-width: inherit;
			height: 100%;
		}
	}
}


/* ICONS -----------------------*/
@font-face {
	font-family: 'biko-icon';
	src:url('../fonts/biko-icon.eot?-2lqxxu');
	src:url('../fonts/biko-icon.eot?#iefix-2lqxxu') format('embedded-opentype'),
		url('../fonts/biko-icon.woff?-2lqxxu') format('woff'),
		url('../fonts/biko-icon.ttf?-2lqxxu') format('truetype'),
		url('../fonts/biko-icon.svg?-2lqxxu#biko-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'biko-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	body.private #body-page &{
		// color: #000;
		// font-size: 1.1em;

		&.med{
			font-size: 2.2em;
		}
	}
}
.icon-seguidores:before {
	content: "\e622";
}

.icon-siguiendo:before {
	content: "\e623";
}

.icon-policia:before {
	content: "\e621";
}

.icon-parq-no-vigilado:before {
	content: "\e609";
}

.icon-parq-vigilado:before {
	content: "\e620";
}

.icon-me-gusta:before {
	content: "\e619";
}

.icon-notif:before {
	content: "\e615";
}

.icon-circle-arrow-h:before {
	content: "\e601";
}

.icon-circle-arrow:before {
	content: "\e611";
}

.icon-compartir:before {
	content: "\e612";
}

.icon-dias-quedan:before {
	content: "\e613";
}

.icon-down-arrow:before {
	content: "\e614";
}

.icon-edit:before {
	content: "\e616";
}

.icon-eliminar-amigos:before {
	content: "\e617";
}

.icon-invitar-amigos:before {
	content: "\e618";
}

.icon-mobile:before {
	content: "\e61a";
}

.icon-search:before {
	content: "\e61b";
}

.icon-seguir-amigos:before {
	content: "\e61c";
}

.icon-up-arrow:before {
	content: "\e61d";
}

.icon-camera:before {
	content: "\e61e";
}

.icon-chulo:before {
	content: "\e61f";
}

.icon-down:before {
	content: "\e60f";
}

.icon-pin-2:before {
	content: "\e60e";
}

.icon-x:before {
	content: "\e600";
}

.icon-almacen:before {
	content: "\e604";
}

.icon-bicicleteria:before {
	content: "\e605";
}

.icon-supermercado:before {
	content: "\e606";
}

.icon-gym:before {
	content: "\e607";
}

.icon-restaurante:before {
	content: "\e608";
}

.icon-sitio-interes:before {
	content: "\e60a";
}

.icon-almacen-deportivo:before {
	content: "\e60b";
}

.icon-cafe:before {
	content: "\e60c";
}

.icon-zona-riesgosa:before {
	content: "\e60d";
}

.icon-pin:before {
	content: "\e602";
}

.icon-bar:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-mail:before {
	content: "\e610";
}


/* BLOCKS ----------------------*/
.main-section{
	margin-bottom: 3em;
}
.user-avatar{
	overflow: hidden;
	border-radius: 50%;
	display: block;
	width: 3.07em;
	img{
		display: block;
	}
}
.circle-image{
	overflow: hidden;
	border-radius: 50%;
	display: block;
	width: 3.07em;
	img{
		display: block;
	}
}
.list-row{
	padding: 1em 0;
	border-top: 1px solid #d5d5d5;
	overflow: hidden;

	&:last-child{
		border-bottom: 1px solid #d5d5d5;
	}
	.feed-list &{
		.list-item-img{
			float: left;
			margin-right: 1em;
		}
		.list-item-text{
			overflow: hidden;

			.heading{
				font-size: 1.23em;
				display: block;
				margin-bottom: .5em;
				a{
					color: #000 !important;
				}
			}
		}
	}
}
.block{
	margin-bottom: 1.5em;

	.list{
		margin-left: 1em;
	}
}
.user-avatar-name{
	.user-avatar,
	.user-name{
		display: inline-block;
		vertical-align: middle;
	}
	.user-avatar{
		margin-right: .5em;
	}
	.user-name{
		font-size: 1.23em;
		a{
			.private #body-page &{
				text-decoration: none;
				color: #737373;
			}
		}
	}
}
.tooltip{
	background: $bikoBlue;
	position: absolute;
	// top: 3.5em;
	// right: 2em;
	padding: 1em;
	width: 8em;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 1em;
		margin-top: -1.5em;
		border: .8em solid blue;
		border-color: transparent transparent $bikoBlue transparent;
	}
	&.righted{
		&:before{
			left: inherit;
			right: 1em;
		}
	}
	.menu{

		a{
			color: #fff;
			.private #body-page &{
				color: #fff;
			}
		}
		li{
			font-size: .812em;
			display: block;
			margin-bottom: .3em;
			.private #body-page &{
				font-size: 1em;
			}
		}
	}
}
.mapa-pin{
	position: absolute;
	width: 6em;
	height: 5.125em;

	background: url('../img/pin-sd.png');
	background-size: cover;
}
.icon-pin{
	position: relative;
	display: inline-block;

	font-size: 5.125em;
	padding: 0 .097em;

	&.almacen			{ color: #66cc99; }
	&.parq-vigilado		{ color: #ffcc00; }
	&.parq-no-vigilado	{ color: #ffcc00; }
	&.sitio-interes		{ color: #cccc66; }
	&.almacen-deportivo	{ color: #66ccff; }
	&.bicicleteria		{ color: #cccccc; }
	&.cafe				{ color: #ff9933; }
	&.bar				{ color: #cc99cc; }
	&.supermercado		{ color: #99cccc; }
	&.gym				{ color: #66cccc; }
	&.restaurante		{ color: #ff6666; }
	&.zona-insegura		{ color: #ff6633; }
	&.zona-segura		{ color: #3399cc; }

	img{
		font-size: .39em;
		margin-top: .41em;

		position: absolute;
		top: 0;
		width: 1em;
		height: 1em;
		left: 50%;
		margin-left: -.5em;
		opacity: .9;

		&.empresa{
			background: #fff;
			opacity: 1;
			border-radius: 50%;
			overflow: hidden;
		}
	}
}
.mapa-pin-options{
	background: #fff;
	border: 1px solid #ccc;
	padding: 1em;

	position: absolute;
	display: table;
	top: 0;
	left: 0;
	margin-top: -6em;

	&:after{
		content: '';
		border: .7em solid #fff;
		border-color: #fff transparent transparent transparent;

		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: 2.5em;
		margin-bottom: -1.4em;
		z-index: 2;
	}

	.item{
		display: table-cell;
		padding: 0 1em;
		border-right: 1px dotted #ccc;
		text-align: center;
		z-index: 1;

		cursor: pointer;

		&:last-child{
			border-right: none;
		}

		[class^="icon-"], [class*=" icon-"]{
			display: block;
			font-size: 2.4em;
		}
	}
}




.aside-menu{

	.item{

		[class^="icon-"], [class*=" icon-"]{
			font-size: 1.4em;
			margin-right: .4em;
		}
		.checkbox{
			display: block;
			float: right;
			// width: 1.8em;
			// height: 1.8em;
			// border-radius: 50%;
			// background: #fff;

			// cursor: pointer;

			// &.checked{
			// 	background: #fff url('../img/chulo.svg') no-repeat center center;
			// 	background-size: 1em;
			// }
		}

		.item-title{
			padding: 1em 0;
			border-top: 1px solid #ccc;
			font-weight: 400;

			.open-close-btn{
				display: block;
				float: right;
				width: 1.5em;
				height: 1em;
				background: url('../img/down-arrow.svg') no-repeat center center;

				cursor: pointer;
				&.active{

				}
			}
			a{
				.private #body-page &{
					color: #737373;
				}
			}
		}
		.item-options{
			display: none;
			margin-bottom: 1em;
			.option{
				@include clearfix();
				padding: .3em 0;
			}
			a{
				.private #body-page &{
					color: $gray;
				}
			}
		}

		&.featured{
			.item-title{
				a{
					.private #body-page &{
						color: #000;
					}
				}
			}
		}

		&.opened{
			.item-title{
				.open-close-btn{
					background: url('../img/up-arrow.svg') no-repeat center center;
				}
			}
			.item-options{
				display: block;
			}
		}
	}
}



/* FORMS -----------------------*/
input[type="text"], input[type="password"], textarea{
	-webkit-appearance: none;
	border: 1px solid #ccc;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: .7em;
	border-radius: .3em;
	width: 100%;
	margin-bottom: .3em;

	&.warning{
		background: url('../img/warning-icon.svg') no-repeat right center;
		background-size: 2.6em;
		border: 1px solid #ed1c24;
	}
	&.short{
		width: 6em;
	}
	&.med{
		width: 14em;
	}
	.private #body-page &{
		border: none;
		border-radius: 0;
		padding: .9em;
	}
}
input[type="submit"]{
	-webkit-appearance: none;
	border: 1px solid $lightBlue;
	background: $lightBlue;
	padding: .7em 1.4em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-radius: .3em;
	color: #fff;
	cursor: pointer;

	&.inline{
		margin-bottom: .3em;
	}

	&:hover{
		background: $darkBlue;
		border: 1px solid $darkBlue;
	}
	.private #body-page &{
		border: none;
		background: none;
		padding: 0;
		font-family: inherit;
		text-transform: uppercase;
		font-size: 1em;
		color: $red;
		cursor: pointer;

		&:hover{
			background: inherit;
			border: inherit;
		}
	}
}
.private #body-page input[type="submit"].search-icon-btn{
	width: 3em;
	height: 3em;
	display: block;
	background: url('../img/search.svg') no-repeat center center;
	background-size: 80%;
	opacity: .4;

	&:hover{
		background: url('../img/search.svg') no-repeat center center;
		background-size: 80%;
		opacity: 1;
	}
}
.form-buttons{
	margin-top: 1em;
	text-align: center;

	.private #body-page &{
		text-align: right;
	}
}
.form-row{
	margin-bottom: 1em;
}
.form-item{
	display: inline-block;
	vertical-align: bottom;
}
.input-warning{
	display: none;
	color: #ed1c24;
	text-align: right;
	font-size: .875em;
}

label{
	display: block;
	margin-bottom: .5em;

	.private #body-page &{
		font-size: 1.23em;
		color: #000;
	}
}



/* POPUPS -------------------------*/
.popup-wrapper{
	position: absolute;
	z-index: 200;
	top: 0;

	border-radius: .5em;
	overflow: hidden;
	background: #fff;

	width: 90% !important;
	@include breakpoint($resIpad){
		width: 455px !important;
	}

	&.foto{
		border-radius: 0;

		.popup-inner{
			padding: 0;
			img{
				display: block;
			}
		}
	}
}
.popup-overaly{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 199;
	background: rgba(0, 0, 0, .7);
}
.popup-inner{
	padding: 2em;

	h2{
		font-size: 1.437em;
		font-family: 'Varela Round', sans-serif;
	}
	p{
		font-size: .875em;
		margin: 1em 0;
	}
}
.popup-cerrar{
	position: absolute;
	top: 1em;
	right: 1em;

	display: block;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.7em;
	font-size: .8em;

	text-align: center;
	border-radius: 50%;
	background: #1aabe2;
	color: #fff;

	&:hover{
		text-decoration: none;
		color: #fff;
		background: $darkBlue;
	}
}
.popup{
	.form-buttons{
		text-align: center;
	}
}



