
/* CONTACTANOS
============================================ */
.contactanos{
	color: #737373;

	p{
		margin: 0 0 2em;
		font-size: 1.125em;
	}

	.page-title{
		display: none;
	}
	#body-page{
		background: #f2f1ed;
	}
	input[type="text"], input[type="password"], textarea{
		border-radius: 0;
	}
	.form-buttons{
		text-align: right;
		margin: 0;
	}
	input[type="submit"]{
		background: none;
		text-transform: uppercase;
		color: $bikoBlue;
		border: none;
		padding: 0;
	}
}

@include breakpoint($resIpad){
	.contactanos-form{
		@include grid-span(5, 8);
	}
	.contactanos-text {		
		@include grid-span(7, 1);
	}
}

.error{
	font-size:.7em;
	color:red;
	display:none;
}
.contactanos-map{
	position: relative;
	height: 460px;
}
.contactanos-info{
	position: absolute;
	right: 1.6em;
	bottom: 1.6em;
	padding: 1.6em;
	background: $bikoBlue;
	color: #fff;

	h2{
		text-align: left;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 300;
	}
}
.map-pin{
	position: absolute;
	font-size: 90px;
	color: $bikoBlue;
}
