
/* LANDING
============================================ */
.landing-heading{
	background: url('../img/foto-land-mobile.jpg') no-repeat;
	background-size: cover;
	background-position: center top;
	overflow: auto;
	text-align: center;
	color: #fff;
	font-size: .8em;

	.r-container{
		height: 900px;
		padding: 5em 0 0;
		display: table;
	}
	.landing-heading-box{
		display: table-cell;
		vertical-align: middle;
		padding: 9em 0 0 0;
	}
	h1{
		font-size: 2em;
		font-family: 'Varela Round', sans-serif;
		margin: 0 auto .5em;
		width: 80%;
	}
	p{
		color: #fff;
		font-size: 1.25em;
		width: 80%;
	}
	p, form{
		margin: 1.5em auto;
	}
	@include breakpoint($resIpad){
		background: url('../img/land-.jpg') no-repeat;
		background-size: cover;
		background-position: center bottom;
		font-size: 1em;

		.r-container{
			padding: 5.625em 0 0;
		}
		h1{
			font-size: 3.125em;
		}
		p, form{
			margin: 1em auto;
			width: 80%;
		}
	}
}
.registrarme-landing{
	input[type="text"]{
		border-radius: .3em 0 0 .3em;
		width: 15em;
		border: none;
	}
	input[type="submit"]{
		border-radius: 0 .3em .3em 0;
		margin-left: -5px;
		padding-left: 1em;
		padding-right: 1em;
		border: none;

		-webkit-transition: padding-left .4s, padding-right .4s, background-color .4s;
    	transition: padding-left .4s, padding-right .4s, background-color .4s;

		&:hover{
			padding-left: 2em;
			padding-right: 2em;
			background: $darkBlue;
		}
	}
}

.fold-link{
	a{
		font-size: 4em;
		color: #fff;
		display: inline-block;
		text-decoration: none;
		// padding-top: 0;

		-webkit-transition: color .3s;
    	transition: color .3s;

		&:hover{
			text-decoration: none;
			color: $lightBlue;
		}
	}
}

.landing-section{
	min-height: 800px;
	text-align: center;
	@include clearfix();

	.landing-section-text{
		background: #fff;
		padding: 50px 0;
		// text-align: center;
	}
	.landing-section-img{
		display: none;
	}
	h2{
		font-family: 'Varela Round', sans-serif;
		font-size: 2.25em;
	}
	p{
		font-size: 1.25em;
	}
	.r-container{
		@include clearfix();
		padding: 1px 3em 0;

		@include breakpoint($resDesktop){
			padding: 1px 6em 0;
		}
	}
	@include breakpoint($resIpad){
		text-align: left;
	}

	// even odd
	&.odd{
		.landing-section-img{
			@include breakpoint($resIpad){
				display: block;
				float: left;
			}
		}
		header,p{
			@include breakpoint($resIpad){
				margin-left: 200px;
			}
		}
	}
	&.even{
		.landing-section-img{
			@include breakpoint($resIpad){
				display: block;
				float: right;
			}
		}
		header,p{
			@include breakpoint($resIpad){
				margin-right: 200px;
				text-align: right;
			}
		}
	}

	// specific stuff
	&.cambia{
		color: #fff;
		min-height: inherit;
		position: relative;
		z-index: 2;

		.landing-section-text{
			background: url('../img/brown-texture.jpg');
			@include breakpoint($resIpad){
				padding-bottom: 0;
			}
		}

		.r-container{
			padding-top: 1px;
			@include clearfix();
			@include breakpoint($resDesktop){
				padding: 1px 9em 0;
			}
		}
		header{
			@include breakpoint($resIpad){
				margin-top: 5em;
				text-align: right;
			}
		}
		.phone-screens-holder{
			display: block;
			overflow: auto;
			width: 17.687em;
			height: 35em;
			margin: 4em auto;
			background: url('../img/phone.png') no-repeat;
			background-size: cover;

			.screen-wrapper{
				display: block;
				width: 15.875em;
				margin: 3em 0 0 .937em;
				position:relative;
				overflow: hidden;
				height: 28.07em;
				transform-style: preserve-3d;
			}

			img{
				width: 15.875em;
				position:absolute;
				top:0;
				left: 0;
				transform-style: preserve-3d;

				&.first-screen{
					z-index: 2;
				}

				&.second-screen{
					z-index: 1;
				}
			}

			@include breakpoint($resIpad){
				float: right;
				margin: 0 0 -4em 3em;
				width: 17.687em;
				height: 35em;
			}
		}
		p{
			color: $gray;
			font-size: 1.125em;
			font-weight: 300;
			@include breakpoint($resIpad){
				text-align: right;
			}
		}
	}
	&.mapa{
		position: relative;
		min-height: inherit;
		height: 52em;
		overflow: hidden;

		.mapa-holder{
			position: absolute;
			width: 112.5em;
			height: 52.5em;
			top: 0;
			left: 50%;
			margin-left: -56.25em;

			background: url('../img/land-map-mobile.jpg') no-repeat;

			@include breakpoint($resIpad){
				background: url('../img/land-map.jpg') no-repeat;
				text-align: right;
			}
		}
	}
	&.incentivos{
		background: url('../img/land--03-mobile.jpg') no-repeat center bottom;
		background-size: 540px 651px;
		background-attachment: fixed;

		.ios &{
			background-attachment: scroll;
		}
		@include breakpoint($resIpad){
			background-image: url('../img/land--03-ipad.jpg');
			background-size: 768px 603px;
		}
		@include breakpoint($resDesktop){
			background-image: url('../img/land--03.jpg');
			background-size: auto;
		}
	}
	&.explora{
		background: url('../img/land--04-mobile.jpg') no-repeat center bottom;
		background-size: 540px 551px;
		background-attachment: fixed;

		.ios &{
			background-attachment: scroll;
		}
		@include breakpoint($resIpad){
			background-image: url('../img/land--04-ipad.jpg');
			background-size: 768px 528px;
		}
		@include breakpoint($resDesktop){
			background-image: url('../img/land--04.jpg');
			background-size: auto;
		}
	}
	&.social{
		background: url('../img/land--05-mobile.jpg') no-repeat center bottom;
		background-size: 540px 575px;
		background-attachment: fixed;

		.ios &{
			background-attachment: scroll;
		}	
		@include breakpoint($resIpad){
			background-image: url('../img/land--05-ipad.jpg');
			background-size: 768px 575px;
		}
		@include breakpoint($resDesktop){
			background-image: url('../img/land--05.jpg');
			background-size: auto;
		}
	}
	&.aliados{
		min-height: inherit;
		padding: 60px 0;
		text-align: center;

		header,p{
			width: 80%;
			margin: 0 auto;
		}

		p{
			margin-bottom: 2em;
		}
		.aliados-logos-list{
			margin-top: 3em;
		}
		.r-container{
			padding: 0;
		}
		.aliados-logos-list li{
			@include float-span(6);
			&:nth-child(2n){
				@include float-span(6, last);
			}

			@include breakpoint($resIpad){
				@include float-span(3);

				&:nth-child(2n){
					@include float-span(3);
				}
				&:nth-child(4n){
					@include float-span(3, last);
				}
			}
		}
	}
}


/* ALERTA POPUP ------------------------*/
.popup-alerta{
	background: url('../img/alerta-img.jpg') no-repeat center top;
	padding-top: 11em;
	text-align: center;

	.biko-sello{
		width: 3.75em;
		display: block;
		margin: 1em auto;
	}
}

