
/* SITE HEADER
============================================ */
#top-bar{
	background: #fff;
}
.biko-logo{
	width: 4em; //96px
	height: 2.2em; //51px
	// background: url('../img/logo-biko.png') no-repeat;
	background: url('../img/logo-biko.svg') no-repeat;
	background-size: cover;
	text-indent: -300px;
	overflow: hidden;
	margin: 0;
	@include breakpoint($resIpad){
		width: 6em;
		height: 3.2em;
	}
}
.mobile-menu-list{
	a{
		font-size: .812em;
		font-family: 'Varela Round', sans-serif;
		text-transform: uppercase;
		display: block;
		margin-bottom: .7em;

		&:hover{
			text-decoration: none;
		}
	}
}
.public-menu,
.private-menu{
	a{
		font-size: .812em;
		font-family: 'Varela Round', sans-serif;
		text-transform: uppercase;
		margin-right: 1em;
		text-decoration: none;

		&:hover{
			text-decoration: none;
		}
	}
}
.redes-links{
	a{
		display: inline-block;
		text-align: center;
		border: 1px solid $lightBlue;
		border-radius: 50%;
		// padding: .12em;
		width: 2em;
		height: 2em;
		line-height: 2;
		font-size: 1em;
		margin: 0 .25em;

		span{
			line-height: 1;
		}

		&:hover{
			text-decoration: none;
		}

		.text{
			text-align: left;
			text-indent: -300px;
			overflow: hidden;
			display: inline-block;
			width: 0;
		}

		&#facebook{
		}
		&#twitter{
		}
		&#instagram{
		}
	}
}

/* PRIVATE MENU ----------------------*/
.header-user-menu{
	display: inline-block;
	position: relative;
	border-left: 1px dotted #424242;
	padding-left: 1em;

	.header-user-menu-triger{
		display: inline-block;
		color: $lightBlue;
		cursor: pointer;
	}
	.tooltip.header-user-menu-links{
		top: 3.5em;
		right: 2em;
		width: 8em;
		.menu{
			text-align: right;
		}
	}
	.user-avatar{
		width: 2.5em;
		display: inline-block;
		vertical-align: -40%;
		margin-left: .5em;
	}
}



/* SITE FOOTER 
============================================ */
#footer{
	background: #f4f4f4;
	padding: 70px 0;
	text-align: center;
	font-size: .875em;
	.redes-links{
		margin-bottom: 20px;
		a{
			border: 2px solid $lightBlue;
			width: 2em;
			height: 2em;
			font-size: 2em;
		}
	}
}


/* SITE BODY
============================================ */
#body-page{
	background: url('../img/internas-bg.jpg') no-repeat center top;
	.contactanos &,
	.home &{
		background: none;
	}
	.private &{
		background: #f2f1ed;
	}
}

