
/* PRIVATE ZONE
============================================ */

/* Sidebar --------------------------------- */
.sidebar{
	.block{
		margin-bottom: 1.5em;

		h3{
			color: #000;
			font-size: 1.23em;
		}
	}
}
.user-portada{
	position: relative;

	.profile-image{
		display: block;
		width: 100%;
	}
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;

		background: rgba(0,0,0,0);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.8) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.8) 100%);
	}
	h2{
		position: absolute;
		z-index: 2;
		bottom: 1em;
		left: 1em;
		right: 1em;
		color: #fff;
		font-size: 1em;

		.user-name{
			font-size: 1.38em;
			display: inline-block;
			vertical-align: middle;

			a{
				text-decoration: none;
				.private #body-page &{
					color: #fff;
				}
			}
		}
	}
	.user-avatar{
		width: 3.07em;
		display: inline-block;
		vertical-align: middle;
		margin-right: .5em;
	}
}
.user-seguidores{
	.link{
		display: block;
	}
}
.block.bikos-acumulados{
	padding: 1em;
	background: #fff;

	h3{
		display: inline-block;
		margin: 0;
	}
	span{
		text-align: right;
		display: inline-block;
		float: right;
		font-weight: 300;
	}
}
.redenciones-activas{
	h3{
		margin-bottom: .5em;
	}
	.empresa-logo{
		float: left;
		margin-left: -4em;
	}
	.empresa-nombre{
		color: #000;
		font-size: 1.23em;
		display: block;

		a{
			.private #body-page &{
				color: #000;
			}
		}
	}
	ul{
		li{
			padding-left: 4em;
		}
	}
}
.redencion-tiempo{
	color: $red;
	display: block;
}
.block.resumen-actividades{
	padding: 1em;
	background: #fff;
}
.private #body-page .extra-links{
	.link{
		display: block;
		padding: .7em 0;
		border: 1px solid #9a9599;
		border-width: 1px 0 0 0;
		a{
			color: #000;
		}
		&:last-child{
			border-width: 1px 0 1px 0;	
		}
		&.active{
			a{
				color: #8a8786;
			}
		}
	}
	span [class^="icon-"], [class*=" icon-"]{
		margin: 0 .5em;
		display: inline-block;
		color: #000;
		font-size: 1.1em;
	}
}


/* EDITAR PERFIL PAGE
==================================================*/
.cambiar-avatar{
	padding-left: 7em;

	.user-avatar{
		width: 5.3em;
		margin-bottom: .5em;
	}
	.avatar-foto{
		text-align: center;
		float: left;
		margin-left: -7em;
		a{
			color: $red;
		}
	}
	.block{
		p{
			margin-top: 0;
		}
	}
}

/* PREFERENCIAS PAGE 
==================================================*/
.preferencias{
	.preferencia{
		.icon-btn{
			&.disabled{
				span[class^="icon-"], span[class*=" icon-"]{
					color: #c8c7c4;
				}
			}
		}
		.preferencia-btns{
			display: inline-block;
			margin-right: 1em;
		}
		.preferencia-text{
			font-size: 1.3em;
			color: #000;
		}
	}
}


/* NOTIFICACIONES 
===========================================*/
.notificaciones{
	.notificacion{
		.user-avatar{
			width: 3.7em;
		}
	}
}
.notificaciones-alert{
	padding: 1em;
	background: #fff;
	font-size: 1.23em;
	color: $red;

	span[class^="icon-"], 
	span[class*=" icon-"]{

		body.private #body-page &{
			color: $red;
		}
	}
}



/* ACTIVIDADES 
===========================================*/
.actividades{

}
.actividad-date{
	background: $red;
	padding: 16px;
	position: absolute;
	top: 50%;
	margin-top: -1em;
	white-space: nowrap;
	color: #fff;

	&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
		margin-right: -20px;
		border: 10px solid $red;
		border-color: transparent $red transparent transparent;
	}
}
.actividad-item{
	position: relative;
	clear: both;

	@include breakpoint($resIpad){
		&.lefted{
			float: left;
			width: 50%;
			padding-right: 2em;
			border-right: 1px solid $red;

			.actividad-date{
				left: 100%;
				margin-left: 11px;

				&:after{
					right: inherit;
					left: 0;
					margin-left: -20px;
				}
			}
		}
		&.righted{
			float: right;
			margin-right: 1px;
			width: 50%;
			padding-left: 2em;
			border-left: 1px solid $red;

			.actividad-date{
				left: inherit;
				right: 100%;
				margin-right: 11px;

				&:after{
					right: 0;
					margin-right: -20px;
					border-color: transparent transparent transparent $red;
				}
			}
		}
	}
}
.actividad-user{
	padding: 1.2em;
	border-bottom: 1px solid #efede9;
	background: #fff;
}
.actividad-heading{
	@include clearfix();
	background: #fff;
	padding: 1.2em;

	.heading{
		width: 50%;
		float: left;
		h4{
			margin: 0;
			font-size: 1.30em;
			color: #000;
			a{
				color: #000!important;
				text-decoration: none;
			}
		}
		.date{
			color: #bbb;
		}
		span{
			display: block;
		}
	}
	.resumen-actividades{
		width: 50%;
		float: right;
		text-align: right;
	}
	h4{
		font-size: 2em;
	}
}
.actividad-map{
	position: relative;
	.map{
		img{
			display: block;
			width: 100%;
		}
	}
	.info-map{
		position: absolute;
		bottom: 1em;
		left: 1em;

		.tooltip{
			top: 4em;
		}
	}
}
.actividad-desc{

}
.actividad-info{
	margin-top: 2em;
	.activ-title{
		padding: 1em;
		background: #fff;
		margin-bottom: 1em;

		h3{
			font-size: 1.2em;
			font-weight: 200;
		}
	}
	.activ-desc{
		padding: 1em;
		background: #fff;	
	}
}



/* INVITAR AMIGOS 
============================================= */
.lista-amigos{
	.list-item-text{
		float: left;
		width: 65%;
	}
	.list-item-opc{
		float: right;
		font-size: 1.15em;
		a{
			.private #body-page &{
				color: #000;
				&:hover{
					text-decoration: none;
					color: $bikoBlue;
				}
			}
			[class^="icon-"], [class*=" icon-"]{
				font-size: 1.5em;
			}
		}
	}
}
.amigos-search{
	position: relative;

	.form-item.search{
		width: 100%;
	}
	.search-icon-btn{
		position: absolute;
		top: 0;
		right: 0;
	}
}


/* MAPA 
========================================== */
.map-page{
	.wheater-predict{
		float: right;
		color: #aaaba8;
		font-size: .70em;
		margin-top: .4em;
	}
	.map-wrapper{
		position: relative;
		background: url('../img/mapa-dummy.jpg');
	}	
}


/* BENEFICIOS 
====================================== */
.beneficio-heading{
	.circle-image{
		float: left;
		margin-right: 2em;
	}
	.desc{
		overflow: hidden;

		.heading{
			font-size: 1.23em;
			margin-bottom: .5em;
			color: #000;
			font-weight: 400;
		}
	}
}
.beneficios-list{
	.heading{
		@include clearfix();
		.nombre-beneficio{
			@include breakpoint($resIpad){
				float: left;
			}
		}
	}
	.datos-beneficio{
		display: block;
		font-size: .8em;
		@include breakpoint($resIpad){
			float: right;
		}
	}
}
.beneficio{
	background: #fff;
	padding: 2em;
	margin-bottom: 2em;

	img{
		display: block;
		margin: 0 auto;
	}
	.beneficio-foto{
	}
	.empresa{
		width: 10em;
	}
}
.beneficio-donde{
	h3{
		color: #000;
		font-size: 1.23em;
		font-weight: 400;
	}
	.puntos-venta-lista{

	}
	.punto-venta-nombre{
		font-size: 1.23em;
		font-weight: 400;
		float: left;
		margin-bottom: .7em;
	}
	.punto-venta-dir{
		float: left;
		clear: left;
	}
	.punto-venta{
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid #ccc;
		@include clearfix();

		.redimir-link{
			float: right;

			&:hover{
				text-decoration: none;
			}
		}
	}
}
.beneficio-coupon{
	.coupon{
		width: 22em;
		margin: 0 auto 1em;
		background: #fff;
		padding: 1em;
		border: 1px dotted $gray;
		border-radius: .5em;
		text-align: center;

		> div{
			margin: .5em 0;
		}
	}
	img{
		display: block;
		margin: 0 auto;
	}
	.dotted-border{
		padding-bottom: 1em;
		background: url('../img/dotted-border_03.png') no-repeat center bottom;
	}
	.quantum-logo{
		img{
			width: 10em;
		}
	}
	.beneficio-title{
		background: #959595;
		padding: .5em;

		h3{
			font-size: 1.6em;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1;
			color: #fff;
			margin: 0;
		}
	}
	.beneficio-foto{
		img{
			width: 14em;
		}
	}
	.cod-barras{
		img{
			width: 14em;
		}
	}
	.empresa{
		img{
			width: 6em;
		}
	}
}
.beneficio-extras{

}




