
/* REGISTER & LOGIN
============================================ */

/* Restablecer contrasena ----------------*/
.popup-restablecer-contrasena{
	input[type="text"]{
		width: 100%;
	}
}

/* Register ---------------------------*/
form.registro{
	max-width: 24em;
	margin: 0 auto;
}
.facebook-option{
	text-align: center;
}

