////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

/* MAIN LAYOUT 
===================================== */
// @include sgs-change('debug', true);
// .r-container{
// 	@include background-grid($color: blue);
// }

.r-container{
	width: 92%;
	margin: 0 auto;
	@include breakpoint($resWide){
		max-width: 1200px;
	}
}

#page-hero{
	overflow: hidden;
}

// Header page ------------------------ //
#top-bar{
	position: fixed;
	z-index: 99;
	width: 100%;
	padding: 1.25em 0 1em;
	.r-container{
		@include clearfix();
		position: relative;
	}
	.site-logo{
		display: inline-block;
		vertical-align: bottom;
		width: 22%;
		min-width: 96px;
	}
	.site-nav{
		display: none;
		vertical-align: bottom;
		width: 77%;
		text-align: right;
		.public-menu,
		.private-menu{
			display: inline-block;
			vertical-align: middle;
		}
		.redes-links{
			display: inline-block;
			vertical-align: middle;
		}
		@include breakpoint($resIpad){
			display: inline-block;
		}
	}
}
.main-nav-toggle-icon{
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: .5em;

	b,
	&:before,
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		margin-bottom: 3px;
		background: $lightBlue;
	}
	b{
		text-indent: -999px;
		overflow: hidden;
		text-align: left;
	}

	@include breakpoint($resIpad){
		display: none;
	}
}

.fixed-in-container{
	position: fixed;
}

// Mobile menu ------------------------ //
.mobile-menu{
	display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	width: 12em;
	height: 100%;
	padding: 2em 1em;
	background: #fff;

	box-shadow: inset 5px 0 3px #ccc;
}

// Body page ------------------------ //
#body-page{
	padding-top: 13.7em;
	min-height: 32em;
}
.home #body-page{
	padding-top: 0;
}
.private #body-page .r-container{
	padding-bottom: 2em;
}
.row{
	@include clearfix();
}	
.left-sidebar{
	@include clearfix();

	@include breakpoint($resIpad){
		.sidebar{		
			@include grid-span(4,1);
		}
		.main-content{
			@include grid-span(8,5);
		}
	}
	@include breakpoint($resDesktop){
		.sidebar{		
			@include grid-span(3,1);
		}
		.main-content{
			@include grid-span(9,4);
		}
	}
}
.cols-2{
	.col{
		margin-bottom: 2em;
	}
	@include breakpoint($resDesktop){
		.row{
			display: table;
			width: 100%;
		}
		.col{
			width: 50%;
			display: table-cell;
			vertical-align: top;
			padding-left: 2em;
			margin-bottom: 0;

			&:first-child{
				border-right: 1px solid #ccc;
				padding-right: 2em;
				padding-left: 0;
			}

			// @include float-span(6);
			// &:last-child{
			// 	@include float-span(6, last);
			// }
			// &:first-child{
			// 	border-right: 1px solid #ccc;
			// 	padding-right: 2em;
			// }
		}
	}
}


