////////////////////////
// Fonts Partials
//
// All of your Fonts calls should go in this file.
////////////////////////

@import url(http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans|Roboto:400,300);

// font-family: 'Varela Round', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;