/** 
 * 
 */
.animable-object{
	transition: all 300ms linear;

	&.show{
		opacity: 1!important;
	}
}

#phone-mockup{
	transform-style: preserve-3d;
}

.landing-heading{
	h1{
		opacity: 0;
	}
	p{
		transition-delay: 300ms;
		opacity: 0;
	}
	form{
		transition-delay: 600ms;
		opacity: 0;
	}
	.fold-link{
		transition-delay: 900ms;
		opacity: 0;
	}
}

#top-bar{
	transition: all 300ms linear;
	background:rgba(255, 255, 255, 1);

	.site-nav{
	}

	&.small{
		font-size: 60%;
		background:rgba(255, 255, 255, 0.98);

		.site-nav{
			display: none
		}
	}
}