////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

// Breakpoints -------------- //
$resIphone: 320px;
$resGalaxy: 480px;
$resIpad: 600px;
$resDesktop: 1024px;
$resWide: 1366px;
$ipadPortrait: (width 768px 1023px);
$hd: min-resolution 1.5dppx;

// Layouts ------------------ //
// $grids: 1;
// $grids: add-grid(12 at $resIpad);

// $gutters: .9;
// $gutters: add-gutter(1/2 at $resIpad);

@include add-grid(12);
@include add-gutter(1/2);

// Colors ------------------ //
$bikoBlue: #1babe1;
$lightBlue: #1178bd;
$darkBlue: #095b79;
$gray: #9b9b9b;
$red: #ef3e37;



